#calculator {
	width: 960px;
	margin-left: 10%;
	height: 600px;
	display: flex;
}

#numbers {
	width: 30%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#numbers button {
	width: 80px;
	height: 80px;
}

#operations button {
	width: 80px;
	height: 80px;
}

#operations {
	width: 20%;
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

#output {
	border: 2px solid #000;
	width: 40%;
	height: 100px;
}